<!-- View -->
<!-- Day I -->
<!-- <div>
  <h1>Welcome to Angular!</h1>
  <h2>{{title}}!</h2>
  <hr />
  <app-hello></app-hello>
  <hr />
  <app-hi></app-hi>
  <hr />
  <app-greet></app-greet>
</div> -->

<!-- Day II -->
<!-- <div>
  <app-menu></app-menu><br /> -->
  <!-- <h1 style="text-align: center;">Welcome to Angular!</h1> -->

  <!-- Attribute Directive -->
  <!-- <app-attribute></app-attribute> -->

  <!-- <app-products></app-products> -->

  <!-- Template Reference Variable for Angular Component -->
  <!-- <app-greet #myGreet></app-greet>
  <h1>{{myGreet.greetMsg}}</h1>
  <h2>{{myGreet.isDisabled}}</h2> -->
  
  <!-- <h2>{{title}}!</h2>
  <hr />
  <app-structural></app-structural> -->
<!-- </div> -->

<!-- Day IV -->
<!-- <div>
  <app-menu></app-menu><br /> -->
  <!-- For View Encapsulation -->
  <!-- <hr /> -->
  <!-- Applied color css from styles.css file -->
  <!-- <p>I am a paragraph in 'red'!</p>
  <hr />
  <app-none></app-none>
  <hr />
  <app-emulated></app-emulated>
  <hr />
  <app-shadowdom></app-shadowdom>
  <hr /> -->
  <!-- <app-login></app-login>
  <app-products></app-products>
  <div class="row">
    <app-cartdetails></app-cartdetails>
  </div>
</div> -->

<!-- Day V -->
<!-- <div>
  <app-menu></app-menu> -->
  <!-- router-outlet is the placeholder where all views are getting routed at the client side -->
  <!-- <router-outlet></router-outlet> -->
  <!-- For custom module -->
  <!-- <shared-sharedcomp></shared-sharedcomp>
  <shared-anothercomp></shared-anothercomp> -->

  <!-- <app-login></app-login>
  <app-welcome></app-welcome> -->

  <!-- Child to Parent Communication using EventEmitter -->
  <!-- <input type="button" class="btn btn-danger" style="margin-left: 50px;" value="Click Me!" (click)="clickListener($event);" />
  <h1>{{buttonInfo}}</h1>
  <hr />
  <h1>In Parents's Component!</h1>
  <h3>Name:- {{name}}!</h3>
  <br />
  <app-profile [profileName]="name" (update)="updateEventListener($event)"></app-profile> -->
  <!-- <app-products></app-products>
  <div class="row">
    <app-cartdetails></app-cartdetails>
  </div> -->
<!-- </div> -->

<!-- Day VI -->
<div>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>