form{
    border: 3px solid black;
    padding: 10px 20px;
    max-width: fit-content;
    margin-left: 35%;
}

p{
    color: red;
    /* font-size: large; */
}

input{
    width: 400px;
    height: auto;
}

input.ng-valid{
    border-left: solid 7px green;
}

input.ng-invalid{
    border-left: solid 7px red;
}

input.ng-pristine{
    background-color: aqua;
    color: indigo;
}

input.ng-dirty{
    background-color: indigo;
    color: aqua;
}